*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header{
    /*DEBUG*/
    background-color: lightblue;
    /*FINE DEBUG*/
    height: 50px;
}
.navigation-box{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.navigation-block{
    background-color: orange;
    border: 1px dashed black;
    width: calc(100% / 3);
    text-align: center;
    padding: 5px;
}

.navigation-block.logo{
    text-align: left;
}

.navigation-block.link{

}

.navigation-block.login{
    text-align: right;
}

/*MAIN*/
.main-box{
    background-color: darkblue;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.main-block{
    background-color: plum;
    width: 60%;
    min-height: 200px;
    border: 2px dashed black;
}

/*SECTIONS*/
.section-box{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.section-block.large{
    background-color:dodgerblue;
    min-height: 250px;
    width: 45%;
    border: 2px dashed black;
}

.section-block.small{
    background-color:pink;
    min-height: 250px;
    width: 25%;
    border: 2px dashed black;
}

/*SECTION REVERSE*/
.section-box.reverse{
    background-color: lightgrey;
    flex-direction: row-reverse;
}

/*ADVERTISEMENT*/
.advertisement-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: lightgrey;
}

.advertisement-block{
    background-color:green;
    min-height: 450px;
    width: 70%;
    border: 2px dashed black;
}